<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="pos.css" />
  </head>
  <body>
    <h1>Relative positioning</h1>

    <p>
      I am a basic block level element. My adjacent block level elements sit on
      new lines below me.
    </p>

    <p class="positioned">
      By default we span 100% of the width of our parent element, and our are as
      tall as our child content. Our total width and height is our content +
      padding + border width/height.
    </p>

    <p>
      We are separated by our margins. Because of margin collapsing, we are
      separated by the width of one of our margins, not both.
    </p>

    <p>
      inline elements <span>like this one</span> and <span>this one</span> sit
      on the same line as one another, and adjacent text nodes, if there is
      space on the same line. Overflowing inline elements
      <span
        >wrap onto a new line if possible — like this one containing text</span
      >, or just go on to a new line if not, much like this image will do:
      <img src="long.jpg" />
    </p>

    <!-- <div class="absoluteContainer">
      <div>
        <h1>Fixed Positioning</h1>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum nisi
          sequi praesentium iste aperiam itaque quisquam ratione architecto
          excepturi atque! Ut qui minus eligendi impedit officiis, minima
          dolores! Magnam, esse. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Cumque, iste facilis ratione quos voluptate porro
          magni commodi dolorem quae, tenetur nihil harum magnam officia!
          Eligendi animi minus nobis molestiae ducimus?
        </p>
      </div>
    </div>
    <div class="container">
      <p class="relative">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est debitis
        asperiores eos neque, impedit vero laboriosam saepe. Cum vero fugiat
        amet architecto voluptatibus molestiae, dolores enim et, eligendi nemo
        exercitationem?
      </p>
    </div> -->
  </body>
</html>
