html {
    font-family: sans-serif;
  }
.box{
    height: 300px;
    width: 300px;
    margin: 0 auto;
    border: 1px solid rgb(167, 31, 31);
    border-radius: 20px 20px;
    box-shadow: 10px 10px 15px black,
    inset 5px 5px rgba(255, 255, 255, 0.3),
    inset -5px -5px rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(to right, rgb(255, 0, 0, 0.2) 30%, rgba(255, 0, 0, 1));
}

.box p{
    text-align: center;
    color: white;
    font-size: 18px;
    position: relative;
    top: 50%;
    margin: 0;
}