.grid{
  display: grid;
  background-color: antiquewhite;
  grid-template-columns: [main-start] 1fr [content-start] 1fr [content-end] 1fr [main-end];
  grid-template-rows: [main-start] 100px [content-start] 100px [content-end] 100px [main-end];
  gap: 1px;
}
/* if you append -start and -end to the lines around an area, 
as I have in the example above, grid will create you a named area 
of the main name used.  */
.grid div{
    border: 1px solid black;
    background-color: aquamarine;
}
.box1 {
    grid-column-start: main-start;
    grid-row-start: main-start;
    grid-row-end: main-end;
    grid-area: content;
}
  
.box2 {
    grid-column-start: content-end;
    grid-row-start: main-start;
    grid-row-end: content-end;
}
  
.box3 {
    grid-column-start: content-start;
    grid-row-start: main-start;
}
  
.box4 {
    grid-column-start: content-start;
    grid-column-end: main-end;
    grid-row-start: content-end;
}