.form-container{
   height: 400px;
   width: 400px;
   border-radius: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: white;
   box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.5)
}
.form{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}
.form--input, .form--marketing{
    grid-column: 1 / span 5; 
}
.form--marketing{
    margin-bottom: 10px;
}
.form--submit{
    grid-column: 2 / span 3;
    height: 40px;
    color: white;
    border: none;
    background-color: purple;
    border-radius: 5px;
}