.interests{
    color: #F5F5F5;
    text-align: left;
    margin: 15px 25px 0;
    font-size: 16px;
}
.detail{
    color: #DCDCDC;
    text-align: left;
    margin: 8px 25px;
    text-align: justify;
    font-size: 10px;
    line-height: 15px;
}