.main{
    min-height: 100vh;
    color: #2B283A;
}
main.dark {
    /* background-image: url("./images/react-icon-dark.png");  */
    background-color: #282D35;
    color: white;    
}
.main--title{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin: 0;
    padding: 57px 27px 0;
    color: #FFFFFF;
}
.main--list{
    margin-top: 46px;
    margin-left: 30px;
    list-style-type: none;
}
.main--list > li{
    line-height: 2;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    align-items: center;
    display: flex;
    color: #FFFFFF;
}
.main--list > li::before{
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #61DAFB;
  margin-right: 15px;
}
